swagger: '2.0'
info:
  title: Vipps Partner API PoC
  version: 0.0.6
  description: |
    The Vipps Partner API PoC lets partners, banks and large corporations manage their merchants and sale units.
    More information: https://github.com/vippsas/vipps-partner-api
  contact:
    name: Vipps AS
    email: integration@vipps.no
    url: 'https://vipps.no/'
tags:
  - name: Merchants
    description: Merchants
  - name: Salesunits
    description: Salesunits
host: api.vipps.no
basePath: /partner-api
schemes:
  - "https"
consumes:
  - application/json
produces:
  - application/json;charset=UTF-8
paths:
  /v0/merchants/{orgno}:
    parameters:
      - $ref: "#/parameters/auth"
      - $ref: "#/parameters/apimKey"
      - $ref: "#/parameters/orgno"
    get:
      description: |
         Get details for an active merchant by organization number.
         Returns HTTP 404 if the merchant has no active connected sales units
         to the partner making the request (even if the merchant is a Vipps
         customer independently of this partner).
      operationId: getMerchant
      summary: Get information about a merchant based on orgno
      tags:
        - Merchants
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GetOrg"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "405":
          $ref: "#/responses/405"
        "500":
          $ref: "#/responses/500"
  /v0/salesunits/{msn}:
    parameters:
      - $ref: "#/parameters/auth"
      - $ref: "#/parameters/apimKey"
      - $ref: "#/parameters/msn"
    get:
      description: |
        Get all sale units for this merchant that is connected to this partner.
        Returns HTTP 404 if there are no sale units connected to the partner
        making the request (even if the sale unit exists and the merchant is a
        Vipps customer independently of this partner).
      operationId: getMSN
      summary: Get information for one MSN
      tags:
        - Salesunits
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SalesUnit"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "405":
          $ref: "#/responses/405"
        "500":
          $ref: "#/responses/500"
responses:
  "400":
    description: Invalid request, check request parameters
    schema:
      $ref: "#/definitions/Error"
  "401":
    description: Unauthorized
    schema:
      $ref: "#/definitions/MiddlewareError"
  "403":
    description: Forbidden
    schema:
      $ref: "#/definitions/Error"
  "404":
    description: Item does not exist
    schema:
      $ref: "#/definitions/Error"
  "405":
    description: Request method not supported
    schema:
      $ref: "#/definitions/Error"
  "409":
    description: Idempotent conflict
    schema:
      $ref: "#/definitions/Error"
  "422":
    description: Unprocessable Entity
    schema:
      $ref: "#/definitions/Error"
  "500":
    description: Internal server error
    schema:
      $ref: "#/definitions/Error"
parameters:
  orgno:
    name: orgno
    type: string
    in: path
    required: true
    description: The Organization number for the merchant
    minLength: 9
    maxLength: 9
    pattern: '^\d{9}$'
  msn:
    name: msn
    type: string
    in: path
    required: true
    description: The Vipps MSN (merchant serial number)
    minLength: 5
    maxLength: 6
    pattern: '^\d{5,6}$'
  auth:
    name: Authorization
    in: header
    required: true
    description: Bearer 'auth token'
    type: string
  apimKey:
    name: Ocp-Apim-Subscription-Key
    in: header
    description: Partner-API subscription key
    required: true
    type: string
definitions:
  SalesUnit:
    type: object
    description: Details of a salesunit
    required:
      - msn
      - name
      - orgno
    properties:
      msn:
        type: string
        description: The Vipps MSN (merchant serial number)
        minLength: 5
        maxLength: 6
        pattern: '^\d{5,6}$'
        x-order: 4
        example: "123456"
      name:
        type: string
        description: "The sale unit's name"
        x-order: 5
        example: "Example AS"
      orgno:
        type: string
        description: The organization number for the merchant
        minLength: 9
        maxLength: 9
        pattern: '^\d{9}$'
        example: "912345678"
  GetOrg:
    type: object
    description: Response of a successful getSalesUnits operation
    required:
      - msn
    properties:
      msn:
        type: array
        description: List of Vipps MSNs (merchant serial numbers)
        items:
          type: string
          description: The Vipps MSN (merchant serial number)
          minLength: 5
          maxLength: 6
          pattern: '^\d{5,6}$'
          x-order: 4
          example: "123456"
  Error:
    type: object
    description: Problem details of HTTP APIs based on RFC 7807
    required:
      - status
      - title
      - detail
      - instance
    properties:
      type:
        type: "string"
        description: |
          "A URI reference that identifies the problem type"
        example: "https://example.net/validation-error"
        x-order: 1
      title:
        type: "string"
        description: |
          "A short, human-readable summary of the problem type"
        example: "Invalid MSN"
        x-order: 2
      status:
        type: "integer"
        description: |
          "The code generated by the origin server for this occurrence of the problem"
        example: 400
        x-order: 3
      detail:
        type: "string"
        description: |
          "A human-readable explanation specific to this occurrence of the problem.
          The detail member, if present, ought to focus on helping the client correct the problem,
          rather than giving debugging information."
        example: "MSN must be 5 or 6 digits"
        x-order: 4
      instance:
        type: "string"
        description: |
          "Unique ID for the request which can be used to find related events (logs)"
        example: "https://example.net/validation-error/msn"
        x-order: 5
  MiddlewareError:
    type: object
    description: Problem details
    properties:
      code:
        type: "integer"
        description: |
          "The status code generated by the origin server for this occurrence of the problem"
        example: 401
        x-order: 1
      message:
        type: "string"
        description: |
          "A human-readable explanation specific to this occurrence of the problem."
        example: "Unauthorized"
        x-order: 2
